body{
    background-color: #5f787b;
}
h1{
        float: left;
    margin-left: 50%;
    transform: translate(-50%, 10px);
}

form{
    float: left;
    margin-left: 50%;
    transform: translate(-50%, 20px);
}

table{
    border-collapse: collapse;
    float: left;
    margin-left: 50%;
    transform: translate(-50%, 30px);
}
th, td {
    border: 2px solid #eab354;
    padding:2px;
}
th{
    text-align:right;
    font-size: large;
    color:#e7e4e3;
    background-color: #573d35;
}
td{
    text-align:left;
    font-size: medium;
    color:#262b2b;
    background-color: #e7e4e3;
}
